.chess-board {
  margin: 0 auto;
  position: relative;
  background: transparent url(../images/bw-board.gif) no-repeat 0 0;
  width: 344px;
  height: 344px;
}

.chess-board div {
  position: absolute;
	vertical-align: top;
	width: 43px;
	height: 43px;
	padding: 0; margin: 0;
}

.chess-board .wP { background: transparent url(../images/chess-sets/acmaster.gif) -1px -1px; }
.chess-board .wN { background: transparent url(../images/chess-sets/acmaster.gif) -46px -1px; }
.chess-board .wB { background: transparent url(../images/chess-sets/acmaster.gif) -91px -1px; }
.chess-board .wR { background: transparent url(../images/chess-sets/acmaster.gif) -136px -1px; }
.chess-board .wQ { background: transparent url(../images/chess-sets/acmaster.gif) -181px -1px; }
.chess-board .wK { background: transparent url(../images/chess-sets/acmaster.gif) -226px -1px; }

.chess-board .bp { background: transparent url(../images/chess-sets/acmaster.gif) -1px -46px; }
.chess-board .bn { background: transparent url(../images/chess-sets/acmaster.gif) -46px -46px; }
.chess-board .bb { background: transparent url(../images/chess-sets/acmaster.gif) -91px -46px; }
.chess-board .br { background: transparent url(../images/chess-sets/acmaster.gif) -136px -46px; }
.chess-board .bq { background: transparent url(../images/chess-sets/acmaster.gif) -181px -46px; }
.chess-board .bk { background: transparent url(../images/chess-sets/acmaster.gif) -226px -46px; }
