body {
  margin: 2em auto;
  text-align: center;
  font-family: helvetica, sans-serif;
}
#wrapper {
  margin: 0 auto;
  width: 500px;
}
pre {
  text-align: left;
}
a {
  font-size: 24px;
}
h1 {
  color: #333;
  text-align: left;
  margin-bottom: 0;
  border-top: 1px solid #dedede;
  padding: 20px 0 10px;
}
.board {
  margin: 10px 0;
}